//? ######################################## CSS RESET ################################################
$textColor:#000;
//? ######################################## CSS RESET ################################################
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    }
//? ######################################## HOME PAGE ################################################
.power{
    width: 4rem;
    left: 50%;
    position: fixed;
    transform: translate(-50%,50%);
    border: 3px solid $textColor;
    padding: .5rem;
    border-radius: 3rem;
    top: 0%;
    &:hover{
        background-color: rgba(27, 233, 27, 0.339);
    }
}
.icon{
    width: 3.5rem;
    left: 10px;
    position: fixed;
    transform: translate(50%,50%);
    bottom: 20%;
    padding: .5rem;
    border-radius: 3rem;
    margin-bottom: 10rem;
    .ic{
        padding-bottom: 2rem;
    }
    .line{
        height: 15rem;
        width: 3px;
        text-align: center;
        background-color: $textColor;
        left: 40%;
        position: fixed;
    }
}
#index{
    width: 100vw;
    height: 100vh;
    background-color: #FCF6F4;
    font-family:'Karla', sans-serif ;
    flex-direction: column-reverse;
    .power{
        width: 4rem;
        left: 50%;
        position: fixed;
        transform: translate(-50%,50%);
        border: 3px solid $textColor;
        padding: .5rem;
        border-radius: 3rem;
        top: 0%;
    }
    .abt{
        font-size: 2.5rem;
        text-decoration: none;
        font-weight: 500;
        color: $textColor;
        bottom: 0;
        position: fixed;
        left: 30%;
        transform: translate(-50%,-50%);
    }
    .skl{
        font-size: 2.5rem;
        text-decoration: none;
        color: $textColor;
        bottom: 0;
        position: fixed;
        right: 20%;
        transform: translate(-50%,-50%);
        font-weight: 500;
    }
    .say{
        font-size: 2rem;
        text-decoration: none;
        color: $textColor;
        position: fixed;
        right: 0;
        transform: translate(-50%,100%);
        font-weight: 500;
        top: 0%;
    }
    .wrk{
        font-size: 2.5rem;
        text-decoration: none;
        color: $textColor;
        position: fixed;
        right: 0;
        bottom: 50%;
        transform: translate(-50%,70%) rotate(90deg);
        font-weight: 500;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .yin{
        width: 20rem;
        text-decoration: none;
        color: $textColor;
        animation: roundss linear infinite 1.5s;
    }
    h6{
        font-size: 1.5rem;
        padding-top: 1rem;
        font-weight: 400;
    }
    .tas{
        text-decoration: none;
        font-size: 3rem;
        left: 2%;
        top: 2%;
        color: $textColor;
        position: fixed;
        font-family: 'Babylonica', cursive;

    }
    
}
@keyframes roundss {
    from{ transform: rotate(0);}
    to{ transform: rotate(360deg);}
}
//? ######################################## SKILLS PAGE ################################################
